<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="properties/database.properties"/><!-- 프로퍼티 호출 -->
<typeAliases>
	<typeAlias type="kr.co.sist.domain.CpEmp" alias="CpEmpDomain"/>
	<typeAlias type="day0602.CpEmpDTO" alias="CpEmpDTO"/>
	<typeAlias type="kr.co.sist.domain.Zipcode" alias="zipcodeDomain"/>
	<typeAlias type="kr.co.sist.domain.Area" alias="areaDomain"/>
	<typeAlias type="kr.co.sist.domain.Car" alias="carDomain"/>
	<typeAlias type="kr.co.sist.domain.CpEmp2" alias="cpEmpDomain2"/>
	<typeAlias type="day0612.WhereDTO" alias="wDTO"/>
	<typeAlias type="day0612.RangeDTO" alias="rDTO"/>
	<typeAlias type="kr.co.sist.board.BoardDTO" alias="boardDTO"/>
</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driverClass}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${id}"/>
        <property name="password" value="${pass}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  	<mapper resource="day0602/examMapper.xml"/>
  	<mapper resource="day0604/examMapper2.xml"/>
  	<mapper resource="day0604/selectMapper.xml"/>
  	<mapper resource="day0605/selectMapper2.xml"/>
  	<mapper resource="day0609/selectMapper3.xml"/>
  	<mapper resource="day0610/selectMapper4.xml"/>
  	<mapper resource="day0612/selectMapper5.xml"/> <!-- 이거 추가 -->
  	<mapper resource="kr/co/sist/board/boardMapper.xml"/> <!-- 이거 추가 -->
  </mappers>
</configuration>